.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 10px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand img {
  margin: 0 auto;
  width: 20%;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 10px;
    margin-bottom: 20px;
}

.icon-nav {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.icon-nav li {
  display: inline-block;
  margin: 0 10px;
  border: 0;
}

.icon-nav li a {
  color: rgba(255, 255, 0, 0.7);
}
.navbar-default {
    /*background-image: linear-gradient(to bottom, #4e4d47 0%, #f8f8f8 100%);*/
    background-color: #000;
    background-image: none;
    border-color: #000;
    border-radius: 0;
}
.icon-nav {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    color: rgba(255, 255, 0, 0.7);
    margin-top: 130px;
    padding-bottom: 20px;
}
.block {
    background: #10b6e0;
    family-font: 'Work Sans', sans-serif;
    margin-top: 10px;
    color: white;
}
.block.header {
  display: inline-block;
  padding: 10px;
}
h4, .h4 {
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 18px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px
}
h3, .h3 {
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}
h2, .h2 {
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}
.content-wrapper {
    padding-top: 30px;
}
img#rotulo {
    margin-top: 10px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

iframe,
img {
  width: 100%;
  padding-top: 10px;
}

@media (max-width: 484px) {
  .navbar-brand img {
    width: 80%;
  }
}

@media (max-width: 768px) and (min-width: 484px) {
  .navbar-brand img {
    width: 50%;
  }
}
